@CHARSET "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Bangers");

body {
	text-align: center;
	font-family: 'Bangers', cursive;
	font-size: 2.2em;
	line-height: 0.9em;
}

h1 {
	margin: 0.1em;
	font-size: 600%;
	line-height: 0.9em;
}

h2 {
	color: #333;
	font-size: 280%;
	margin: 0.1em;
	line-height: 0.9em;
}

canvas {
	 margin: 2em auto 0;
}

#game, #waiting, #ready, #intro, #manager, #pattern-list, #gameplay {
	display: none;
}

#manager button {
	display: none;
	background: transparent;
	border: none;
	height: 40em;
	width: 40em;
	margin: 0 auto 0;
}

#manager button img {
	height: 100%;
	width: 100%;
}

#startcode img {
	margin: 0 auto;
}

.pattern {
	float: left;
	text-align: center;
	width: 90pt;
	height: 150pt;
	cursor: pointer;
}

.pattern img {
	width: 80pt;
}

.pattern p {
	margin: 2pt;
	font-size: 22pt;
	line-height: 0.9em;
}
